/*  
 
 Main source: https://www.w3schools.com/html/html_css.asp
 Color source: https://www.w3schools.com/html/html_colors.asp
 */

h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif;
color: black;}
p{font-family:"Raleway";
color:black}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: img src="/a3web/pic/header-bg.jpg";
  min-height: 100%;
}
.w3-bar .w3-button {
  padding: 16px;
 
 /* Regan CSS for header padding */
 
  .w3-display-left w3-text-white {
 padding-top:48px;
 }
 
 /* Adding */
 
 .w3-container {
 padding-top:128px;
 padding-right:16px;
 }
 
 /* */
 
 .w3-row-padding w3-center {
 margin-top:64px;
 }
 
 /* */ 
 
 .w3-container w3-light-grey {
 padding-top:128px; 
 padding-right:16px;
 }
 
 /* */
 
 ./a3web/pic/Breanne.jpg {
  width:100%;
 }
 
  /* */
 
 .w3-row-padding w3-grayscale {
 margin-top:64px;
 }
