
ul { 
  font-size: 15px;
  font-family: Verdana;
  font-weight: bold;
  text-align: left;
  
}

h1 { 
    font-size: 25px;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    color: rgba(37, 52, 148, 0.6);
  }

 p1 { 
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
    text-align: left;
  }

  p { 
    font-size: 15px;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
  }
     
/*Css for Portfoilo page- Adineh */
/*The left and right margins are used to place the table in the center- Adineh */

table{ 
  width:90% ;
  margin-left: auto;
  margin-right: auto;
}
td{
  border:  solid black 2px;
  text-align: center;
  font-size: 15px;
  font-family: Verdana;
  font-weight: normal;
  background-color: #618685;
  color: rgba(1, 6, 36, 0.6);
   
}

nav { 
  font-size: 15px;
  font-family: Verdana;
  font-weight: bold;
  text-align: center;
}

/* new user 
  Owner: Regan
    Date: November 25
  Source: w3schools */
  
a:link {
  color:  #4040a1;
}

a:visited {
  color: #fefbd8;
}

a:hover {
  color: #618685;
}

a:active {
  color: #deeaee;
} 
